/* Harant font */
  @import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap');

  /* Manrope font*/
  @import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Manrope:wght@500&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
    color: #000;
    font-family: 'Halant', serif;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background: #fff;
    padding: 5px 30px 20px 50px;
    max-width: 600px;
    width: 100%;
  }

  h1{
    font-size: 40px;
    font-weight: 600;
    margin: 25px auto 20px auto;
  }

  .formelement{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .formelement label {
    font-size: 16px;
    font-weight: 600;
    width: 30%;
  }

   .formfield {
   width: 60%;
    height: 40px;
  }

  input::placeholder {
    font-size: 14px;
    opacity: 0.5;
    padding: 10px;
  
}

.formradio, .formcheck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    font-weight: 600;
    margin-bottom: 20px;
}

.otherlabel {
    font-size: 16px;
    width: 30%;
   
}

.sublabel {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
   
}


.radiocontainer, .checkboxcontainer {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.radio-input, .checkbox-input {
  display: flex;
  gap: 3px;
  justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    margin-right: 10px;

    width: 60%;
}

button {
    width: 60%;
    height: 40px;

    background: #155EEF;
    outline: none;
    border: none;
    color: #fff;
}

.btn {
display: flex;
justify-content: flex-end;
}



